doctype html
html(lang='en')
    head
        include head.pug
    body
        div(class='container')
            header(class='lib-header py-3')
                div(class='row')
                    div(class='col-12 d-flex justify-content-between align-items-center')
                        a(href='/', class='lib-header-txt text-dark text-decoration-none') Passport
                        if user
                            div
                                a.btn.btn-primary.btn-sm.mr-2(href='/dashboard') Dashboard
                                a.btn.btn-info.btn-sm.mr-2(href='/profile') Profile
                                a.btn.btn-danger.btn-sm(href='/logout') Logout

            
            //- Main Content
            main
                block content
        //- Footer
        include footer.pug
        //- JavaScript
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')